<header class="navbar">
    <div class="container">
        <div class="navbar-brand">
            <img src="~/Content/images/cpa-corporate-logo.png" alt="CPA Australia" />
            <div class="user-display-name">
                @Model.UserDisplayName
            </div>
        </div>
    </div>
</header>
