<footer class="panel-footer">
    <div class="container">
        <div class="row">
            <div class="col-md-9">
                <ul class="list-unstyled list-inline left">
                    <li><a href="http://www.cpaaustralia.com.au/about-us/contact-us" target="_blank">Contact us</a></li>
                    <li><a href="http://www.cpaaustralia.com.au/utilities/privacy" target="_blank">Privacy statement</a></li>
                    <li><a href="http://www.cpaaustralia.com.au/utilities/terms" target="_blank">Terms of use</a></li>
                </ul>
            </div>
            <div class="col-md-3">&copy; Copyright 1997-@DateTime.Now.ToString("yyyy") CPA Australia Ltd</div>
        </div>
    </div>
</footer>
