<div class="container-fluid">
    <div class="row">
        <div class="col-md-2">
              <table>
                  <tr>
                      <td>Book Name</td>
                      <td>{{book.BookName}}</td>
                  </tr>
                 <tr>
                     <td>Author</td>
                     <td>{{book.Author}}</td>
                 </tr>                 
              </table>      
        </div>
    </div>    
</div>



